<!DOCTYPE html>
<html>

<head>
	<script src="face-api.js"></script>
	<script src="js/tf.js"></script>
	<script src="js/commons.js"></script>
	<script src="js/drawing.js"></script>
	<script src="js/faceDetectionControls.js"></script>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet/less" type="text/css" href="student_styles.less">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script>
</head>

<body>
	<div class="center-content page-container">
		<div class="face-recognition-layer">
			<div class="booth-container">
				<canvas id='canvasScreenshot' width=400 height=300></canvas>
				<img id='imgScreenshot'>
				<div class="ref-images-container">
				</div>
			</div>
		</div>
		<div class="login-layer">
			<div class="login-header">
				<div class="franchise-icon"></div>
			</div>
			<div class="login-content">
				<div class="login-logo"></div>
				<div class="login-input">
					<div class="login-input-header"></div>
					<div class="login-input-area">
						<button class="open-camera">Open Camera</button>
						<div class="video-container">
							<video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
							<canvas class="camera-canvas"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="js/student.js"></script>
</body>

</html>