<!DOCTYPE html>
<html>

<head>
	<script src="face-api.js"></script>
	<script src="js/tf.js"></script>
	<script src="js/commons.js"></script>
	<script src="js/drawing.js"></script>
	<script src="js/faceDetectionControls.js"></script>
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet/less" type="text/css" href="student_styles.less">
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js"></script>
</head>

<body>
	<div>
		<label><input name="uploadType" type="radio" value="localimage" checked />Local Image</label>
		<label><input name="uploadType" type="radio" value="camera" />Camera</label>
	</div>
	<form class="file-form" method="post" enctype="multipart/form-data" action="/image">
		<input type="text" name="filename" />
		<input type="file" name="file">
	</form>
	<div class="booth-container">
		<canvas id='canvasScreenshot' width=400 height=300></canvas>
		<img id='imgScreenshot'>
	</div>
	<div class="upload-container">
		<div class="video-container">
			<video onplay="onPlay(this)" id="inputVideo" autoplay muted></video>
			<canvas class="camera-canvas"></canvas>
		</div>
	</div>
	<button class="open-camera">Open Camera</button>
	<button class="upload">Upload</button>
</body>

<script src="js/student.js"></script>
<script src="js/upload.js"></script>
</body>

</html>